node-example.json
[{"id":"b2bb8238.4d448","type":"npro","name":"np","title":"first try","source":"sdfs","message":"sdf","priority":"1","apikey":"YOU APIKEY","registrationId":"YOUR REGISTRATION ID","x":686,"y":53,"z":"f2891a1a.0d76e8","wires":[]},{"id":"f9e3984.f061c68","type":"inject","name":"every 50 seconds","topic":"","payload":"","payloadType":"date","repeat":"50","crontab":"","once":true,"x":197,"y":52,"z":"f2891a1a.0d76e8","wires":[["741c4bee.8be3b4"]]},{"id":"741c4bee.8be3b4","type":"function","name":"msg","func":"msg = {};\n// title is required here or defined in the npro node\nmsg.title = \"Testing\"; \n// APIKey is required here or defined in the npro node\n//msg.apikey = \"Your APIKEY\"; \n// registrationId is required here or defined in the npro node\n//msg.registrationId = \"Your registrationId\";\n// optional \nmsg.message = \"Hello Hrant This is a test\";\n// priority : \n//\t0 -> no priority\n//\t1 -> information\n//\t2 -> warning\n//\t3 -> alert\nmsg.priority = 0;\nmsg.source=\"Node-RED\";\nreturn msg;","outputs":1,"x":457,"y":53,"z":"f2891a1a.0d76e8","wires":[["b2bb8238.4d448"]]}]