node-example.json
[{"id":"eff98597.100678","type":"npro","name":"newtifrypro","title":"first try","source":"Node-RED","message":"First message","priority":"1","apikey":"YOUR APIKEY","registrationId":"YOUR REGISTRATIONID","x":716,"y":157,"z":"f2891a1a.0d76e8","wires":[]},{"id":"3732d438.c8cd2c","type":"inject","name":"on demand","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":194,"y":143,"z":"f2891a1a.0d76e8","wires":[["a581d653.5a7e28"]]},{"id":"a581d653.5a7e28","type":"function","name":"test","func":"msg = {};\n// title is required here or defined in the npro node\nmsg.title = \"Testing\"; \n// APIKey is required here or defined in the npro node\n//msg.apikey = \"Your APIKEY\"; \n// registrationId is required here or defined in the npro node\n//msg.registrationId = \"Your registrationId\";\n// optional \nmsg.message = \"Hello Hrant This is a test\";\n// priority : \n//\t0 -> no priority\n//\t1 -> information\n//\t2 -> warning\n//\t3 -> alert\nmsg.priority = 0;\nmsg.source=\"Node-RED\";\nreturn msg;","outputs":1,"x":464,"y":157,"z":"f2891a1a.0d76e8","wires":[["eff98597.100678"]]}]