node-example.json
[{"id":"b2bb8238.4d448","type":"npro","name":"np","title":"first try","source":"sdfs","message":"sdf","priority":"1","apikey":"YOUR_API_KEY","registrationId":"YOUR_REGID","x":686,"y":53,"z":"f2891a1a.0d76e8","wires":[]},{"id":"f9e3984.f061c68","type":"inject","name":"every 50 seconds","topic":"","payload":"","payloadType":"date","repeat":"50","crontab":"","once":true,"x":197,"y":52,"z":"f2891a1a.0d76e8","wires":[["741c4bee.8be3b4"]]},{"id":"741c4bee.8be3b4","type":"function","name":"msg","func":"msg = {};\nmsg.message = \"Hello Hrant This is a test\";\nmsg.title = \"Testing\";\nreturn msg;","outputs":1,"x":457,"y":53,"z":"f2891a1a.0d76e8","wires":[["b2bb8238.4d448"]]}]